* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 100vh;
}
.ageCalculator{
    border: 2px solid black;
    border-left-style: dashed;
    border-right-style: groove;
    border-top-style: dashed;
    border-bottom-style:groove;
    height: 300px;
    width: 500px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; */
    padding-left: 150px;
    padding-top: 50px;
    background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* .ageCalculator .ageInput{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.ageCalculator label{
    display: block;
    margin-top: 0.2rem;
}
.ageCalculator .DOB-Input{
    align-self: center;
    margin-left: 20px;
    height: 2rem;
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.ageCalculator .age-button .button-click{
    height: 2rem;
    width: 10rem;
    background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    /* border: 1px solid gray; */
} 
.ageCalculator .curr-dob{
    margin-left: 45px;
    font-size: 1.2rem;
}